html {
    box-sizing: 'border-box'
}

body {
    background-image: url('die-blur-map.png');
    background-size: cover;
}

#app {
    padding-left: 0;
    padding-right: 0;
}

#title {
    font-size: 10vmin;
    color: #dfc;
}

#subtitle {
    color: #fff;
    font-size: 5vmin;
    font-weight: bold;
}

.center {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    display: inline;
    width: 20vmin;
    height: auto;
    margin: 1vmin;
}

#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: rgb(56, 97, 117);
    position: fixed;
    bottom: 0;
}

#input-parent {
    width: 15vmin;
    margin: 0 auto 0 auto;
}

#guesses {
    padding: 3vmin;
}

#main {
    padding: 3vmin;
}

#submit {
    font-size: 5vmin;
    font-weight: bold;
    padding: 3vmin;
    position: relative;
    top: -10vmin;
    left:10vmin;
    border-radius: 10vmin;
    background-color: #666;
    border: solid orange;
    color: #ffd;
}

#submit:hover {
    border: solid red;
}

#player-input {
    height: 20vmin;
    text-align: center;
    width: 20vmin;
    font-size: 10vmin;
    font-weight: bold;
    margin: 5vmin auto;
    border-radius: 10vmin;
    background-color: #dfc;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.guess {
    display: inline;
    border-radius: 1vmin;
    padding: 3vmin;
    font-size: 6vmin;
    font-weight: bold;
    color: #554;
    background: #dfc;
}



#reset {
    font-size: 3vmin;
    color: #bba;
    background-color: #544;
    font-weight: bold;
}

#hint {
    font-size: 3vmin;
    font-weight: bold;
    color: #bba;
    background-color: #544;
}

.margin-auto{
        margin: 0 auto;
}

#author{
    color:  #687;
}



